<header>
  <nav class="navbar">
    <div class="container">
      <div class="logo">
        <h1>Leading <span class="accent-text">Powerful</span> Conversations</h1>
      </div>
      <ul class="nav-menu">
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/bio.html' | relative_url }}">Bio</a></li>
        <li><a href="{{ '/resources.html' | relative_url }}">Resources</a></li>
        <li><a href="{{ '/contact.html' | relative_url }}">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
